# Express and Basics
PORT=8080
DEBUG_BRIDGE=1

# OBS Websocket
OBS_ADDR=ws://1
OBS_PASS=

# n8n incoming credentials
N8N_INSTANCE=https://n8n.
N8N_APITOKEN=1

# Modules
## Chaturbate Chat and Stats
CB_EVENTS_URL=https://eventsapi.chaturbate.com/events/
CB_STATS_URL=https://chaturbate.com/statsapi/
CB_N8N_EVENTS_WEHOOK=x

